<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>readableName</key>
		<string>Metro Transit</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_mt</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_mt</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>1</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>King County Marine Division</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_km</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_km</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>KMD</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>Intercity Transit</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_it</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_it</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>19</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>Sound Transit</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_st</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_st</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>40</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>Seattle Children’s Hospital Shuttle</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_schs</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_schs</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>sch</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>Community Transit</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_ct</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_ct</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>29</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>readableName</key>
		<string>Seattle Streetcar</string>
		<key>defaultSource</key>
		<array>
			<string>ps_oba_sc</string>
		</array>
		<key>nameSource</key>
		<array>
			<string>nextbus_sc</string>
		</array>
		<key>realtimeSource</key>
		<array>
			<string>nextbus_sc</string>
		</array>
		<key>stopsSource</key>
		<array>
			<string>nextbus_sc</string>
		</array>
		<key>routePolygonSource</key>
		<array>
			<string>nextbus_sc</string>
		</array>
		<key>sources</key>
		<array>
			<dict>
				<key>id</key>
				<string>ps_oba_sc</string>
				<key>host</key>
				<string>api.pugetsound.onebusaway.org</string>
				<key>hostid</key>
				<string>23</string>
				<key>apispec</key>
				<string>onebusaway</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nextbus_sc</string>
				<key>host</key>
				<string>webservices.nextbus.com</string>
				<key>hostid</key>
				<string>seattle-sc</string>
				<key>apispec</key>
				<string>nextbus</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
