<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>readableName</key>
            <string>Pierce Transit</string>
            <key>name</key>
            <string>ps_oba_pt</string>
            <key>boundbox</key>
            <string>ps_oba_pt</string>
            <key>realtime</key>
            <string>ps_oba_pt</string>
            <key>stops</key>
            <string>ps_oba_pt</string>
            <key>routepolygon</key>
            <string>ps_oba_pt</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_pt</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>3</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Metro Transit</string>
            <key>name</key>
            <string>ps_oba_mt</string>
            <key>boundbox</key>
            <string>ps_oba_mt</string>
            <key>realtime</key>
            <string>ps_oba_mt</string>
            <key>stops</key>
            <string>ps_oba_mt</string>
            <key>routepolygon</key>
            <string>ps_oba_mt</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_mt</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>1</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>King County Marine Division</string>
            <key>name</key>
            <string>ps_oba_km</string>
            <key>boundbox</key>
            <string>ps_oba_km</string>
            <key>realtime</key>
            <string>ps_oba_km</string>
            <key>stops</key>
            <string>ps_oba_km</string>
            <key>routepolygon</key>
            <string>ps_oba_km</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_km</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>KMD</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Intercity Transit</string>
            <key>name</key>
            <string>ps_oba_it</string>
            <key>boundbox</key>
            <string>ps_oba_it</string>
            <key>realtime</key>
            <string>ps_oba_it</string>
            <key>stops</key>
            <string>ps_oba_it</string>
            <key>routepolygon</key>
            <string>ps_oba_it</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_it</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>19</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Sound Transit</string>
            <key>name</key>
            <string>ps_oba_st</string>
            <key>boundbox</key>
            <string>ps_oba_st</string>
            <key>realtime</key>
            <string>ps_oba_st</string>
            <key>stops</key>
            <string>ps_oba_st</string>
            <key>routepolygon</key>
            <string>ps_oba_st</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_st</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>40</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Seattle Children’s Hospital Shuttle</string>
            <key>name</key>
            <string>ps_oba_schs</string>
            <key>boundbox</key>
            <string>ps_oba_schs</string>
            <key>realtime</key>
            <string>ps_oba_schs</string>
            <key>stops</key>
            <string>ps_oba_schs</string>
            <key>routepolygon</key>
            <string>ps_oba_schs</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_schs</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>sch</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Community Transit</string>
            <key>name</key>
            <string>ps_oba_ct</string>
            <key>boundbox</key>
            <string>ps_oba_ct</string>
            <key>realtime</key>
            <string>ps_oba_ct</string>
            <key>stops</key>
            <string>ps_oba_ct</string>
            <key>routepolygon</key>
            <string>ps_oba_ct</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_ct</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>29</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>readableName</key>
            <string>Seattle Streetcar</string>
            <key>name</key>
            <string>nextbus_sc</string>
            <key>boundbox</key>
            <string>ps_oba_sc</string>
            <key>realtime</key>
            <string>nextbus_sc</string>
            <key>stops</key>
            <string>nextbus_sc</string>
            <key>routepolygon</key>
            <string>nextbus_sc</string>
            <key>sources</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>ps_oba_sc</string>
                    <key>host</key>
                    <string>api.pugetsound.onebusaway.org</string>
                    <key>hostid</key>
                    <string>23</string>
                    <key>apispec</key>
                    <string>onebusaway</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>nextbus_sc</string>
                    <key>host</key>
                    <string>webservices.nextbus.com</string>
                    <key>hostid</key>
                    <string>seattle-sc</string>
                    <key>apispec</key>
                    <string>nextbus</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
